* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font: 13px Helvetica, Arial;
}
form {
    background: #FFF;
    padding: 3px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90vh;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    top: 80%;
    position: absolute;
    border: 1px groove lightblue;
}
form #button {
    color:#FFF;
    background: #2D9F0B;
    border: none;
    padding: 10px;
    width: 9%;
    top: 80%;
    left: 91%;
    position: absolute;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#notifyUser {
    position: fixed;
    bottom: 42px;
    width: 100%;
}